//Jorge wrote this page
doctype strict
head
  meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
  title 404 Page
  meta(name='keywords' content='')
  meta(name='description' content='')
  link(href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet')
  link(href='styles.css' rel='stylesheet' type='text/css' media='all')
  link(href='fonts.css' rel='stylesheet' type='text/css' media='all')
#wrapper
  #header-wrapper
    #header.container
      #logo
        h1
          a(href='/') Travel Experts
      #menu
        ul
          li
            a(href='/' accesskey='1' title='') Home
          li
            a(href='/packages' accesskey='2' title='') Vacation Packages
          li
            a(href='/registration' accesskey='3' title='') Registration
          li
            a(href='/contact' accesskey='4' title='') Contact Us
  #banner
    .container
      .title
        h2 404 Page Not Found
        span.byline Sorry! The page you are looking for does not exist :(
      ul.actions
        li
          a.button(href='/') Home Page
#copyright.container
  p &copy; Travel Experts, All rights reserved.
