<!--Jorge wrote this page. He came up with the CSS formatting and menu, which was applied to all pages.-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Welcome Page</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" />
		<link href="styles.css" rel="stylesheet" type="text/css" media="all" />
		<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />
	</head>
	
	
	<body>
		<div id="wrapper">
			<div id="header-wrapper">
			<div id="header" class="container">
				<div id="logo">
					<h1><a href="/">Travel Experts</a></h1>
				</div>
				<div id="menu">
					<ul>
						<li class="active"><a href="/" accesskey="1" title="">Home</a></li>
						<li><a href="/packages" accesskey="2" title="">Vacation Packages</a></li>
						<li><a href="/registration" accesskey="3" title="">Registration</a></li>
						<li><a href="/contact" accesskey="4" title="">Contact Us</a></li>
					</ul>
				</div>
			</div>
			</div>
			<div id="banner">
				<div class="container">
					<div class="fade-in">
						<div class="title">
							<h2>The Best Place To Explore The Globe</h2>
							<span class="byline">Travel & Vacation Packages</span> </div>
						<ul class="actions">
							<li><a href="/packages" class="button">Go To Packages</a></li>
						</ul>
					</div>
				</div>
			</div>

    
	<div id="page" class="container">
    
<div class="title">
	  <h2>What is travel experts?</h2>
	  <span class="byline">And, how do we help you achieve your goals?</span> </div>
		<p>We are a travel company, created for anbody trying to reach out and explore the globe. We offer deals, vacation packages, and more! Reach out to one of our reps for more infomation about how to register and vacation packages.</p>
		<img src="Beach1.png">
	</div>

  <div id="featured">
		<div class="container">
			<div class="title">
				<h2>What if you are a Software Developer?</h2>
				<span class="byline">Work & Travel? It's possible</span> </div>
			<p>One of the many services we provide is a Travel/Work package. Everybody needs an economic engine, we understand that you need to work. But, why not relax in a beach in Mexico while you code for a company across the globe?</p>
			<img src="Beach2.jpg">
		</div>
	</div>
    
    
	<div id="extra" class="container">
		<div class="title">
			<h2>Popular Destinations</h2>
			<span class="byline">Most of our customer prefer the following locations:</span> </div>
		<div id="three-column">
			<div class="boxA">
				<div class="box">
					<p>The Great Wall Of China</p>
					<p>Huairou District, China</p>
					<img src="vp1.jpg" width="200">
				</div>
			</div>
			<div class="boxB">
				<div class="box">
					<p>Machu Picchu</p>
					<p>Cuzco Region, Peru</p>
					<img src="vp5.jpg" width="200">
				</div>
			</div>
			<div class="boxC">
				<div class="box">
					<p>Christ the Redeemer</p>
					<p>Corcovado mountain, Rio De Janeiro</p>
					<img src="vp7.jpg" width="200">
				</div>
			</div>
		</div>
	
	</div>
    
</div>
<div id="copyright" class="container">
	<p><strong>Email:</strong> info@travelexperts.com | <strong>Phone:</strong> 555-555-5555 | <strong>Address:</strong> Calgary, AB. Canada</p>
	<p>&copy; Travel Experts, All rights reserved.</p>
</div>
</body>
</html>
