<!--Ricky wrote this page-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>Search Packages</title>
        <link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" />
		<link href="styles.css" rel="stylesheet" type="text/css" media="all" />
		<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />
    </head>
    <body>
		<div id="wrapper">
			<div id="header-wrapper">
                <div id="header" class="container">
                    <div id="logo">
                        <h1><a href="/">Travel Experts</a></h1>
                    </div>
                    <div id="menu">
                        <ul>
                            <li><a href="/" accesskey="1" title="">Home</a></li>
                            <li class="active"><a href="/packages" accesskey="2" title="">Vacation Packages</a></li>
                            <li><a href="/registration" accesskey="3" title="">Registration</a></li>
                            <li><a href="/contact" accesskey="4" title="">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
			</div>
			<div id="banner">
				<div class="container">
					<div class="title">
						<h2>The Best Place To Explore The Globe</h2>
                        <span class="byline">Travel & Vacation Packages</span>
                    </div>
					<ul class="actions">
                        <li><a href="/packages" class="button">View All Packages</a></li>
					</ul>
				</div>
            </div>
            <br>
            <h1>Search our packages:</h1>
            <br />
            <form id="registrationForm" method="POST" action="/send-search">
                <label>Keywords:</label>
                <input id="entered_string" name="entered_string" /><br />
                <br>
                <label for="maxPrice">Packages under:</label>
                <select id="maxPrice" name="maxPrice">
                    <option value="6000">$6,000</option>
                    <option value="5000">$5,000</option>
                    <option value="4000">$4,000</option>
                    <option value="3000">$3,000</option>
                  </select>
                  <br>
                  <br>
                  <label for="minDate">Packages starting after</label>
                  <input type="date" id="minDate" name="minDate">
                  <label for="maxDate"> and/or ending before</label>
                  <input type="date" id="maxDate" name="maxDate">
                  <br>
                  (You may leave either date blank.)
                  <br>
                  <br>
                <input type="submit" value="Search" />
            </form>
            <br>
            <br>
            <br>
        </div>
        <div id="copyright" class="container">
            <p><strong>Email:</strong> info@travelexperts.com | <strong>Phone:</strong> 555-555-5555 | <strong>Address:</strong> Calgary, AB. Canada</p>
            <p>&copy; Travel Experts, All rights reserved.</p>
        </div>
    </body>
</html>