<!--Jorge wrote this page-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Thank You order</title>
		<meta name="keywords" content="" />
		<meta name="description" content="" />
		<link href="http://fonts.googleapis.com/css?family=Varela" rel="stylesheet" />
		<link href="styles.css" rel="stylesheet" type="text/css" media="all" />
		<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />
	</head>
	
	
	<body>
		<div id="wrapper">
			<div id="header-wrapper">
			<div id="header" class="container">
				<div id="logo">
					<h1><a href="/">Travel Experts</a></h1>
				</div>
				<div id="menu">
					<ul>
						<li><a href="/" accesskey="1" title="">Home</a></li>
						<li><a href="/packages" accesskey="2" title="">Vacation Packages</a></li>
						<li><a href="/registration" accesskey="3" title="">Registration</a></li>
						<li><a href="/contact" accesskey="4" title="">Contact Us</a></li>
					</ul>
				</div>
			</div>
			</div>
			<div id="banner">
				<div class="container">
					<div class="fade-in">
						<div class="title">
							<h2>Thank You For your order!</h2>
							<span class="byline">You should expect a confirmation e-mail from us within 2 business days. Thank you for using Travel Experts!</span> </div>
						<ul class="actions">
							<li><a href="/" class="button">Home Page</a></li>
						</ul>
					</div>
				</div>
			</div>
			</div>



 <div id="copyright" class="container">
	<p><strong>Email:</strong> info@travelexperts.com | <strong>Phone:</strong> 555-555-5555 | <strong>Address:</strong> Calgary, AB. Canada</p>
	<p>&copy; Travel Experts, All rights reserved.</p>
</div>
</body>
</html>
